*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html{
    scroll-behavior: smooth;
}
/* HOME */
/* NAVBAR IN HOME */
#home{
    width: 100%;
    height:120vh;/*vh is used to cover the whole scren area*/
    background-color: rgb(185,138,83);
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:transparent;
    height: 100px;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    padding: 20px;
    padding-top: 30px;
}
.navbar ul li a{
    margin: 20px;
    text-decoration: none;
    color:white;
    font-size: 23px;
    
}
.navbar h1{
    color: white;
    font-weight: bolder;
    font-size: 50px;
    padding: 20px;
    padding-left: 50px;
}
.front{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.front h1{
    font-size: 20vw;
    color: rgb(240,248,255,0.619);
}
#coffeecan{
    
    position: absolute;
    width: 16%;
    filter: drop-shadow(2px 2px 10px black);
    z-index: 1;
    /* z-index:1 is used to make can appear over those 2 beans */
}
#coffeebean1{
    position: absolute;
    width: 16%;
    filter: drop-shadow(2px 2px 10px black);
    top: 6%;
    left: 30%;
    transform: rotate(20deg);
    /* z-index: 2; to make bean1 appear over coffee can */
    
}
#coffeebean2{
    position: absolute;
    width: 16%;
    filter: drop-shadow(2px 2px 10px black);
    top: 67%;
    left: 53%;
    transform: rotate(20deg);

}
#coffeebean3{
    position: absolute;
    width: 16%;
    filter: drop-shadow(2px 2px 10px black);
    top: 37%;
    left: 25%;
    transform: rotate(131deg);
}
#coffeebean4{
    position: absolute;
    width: 16%;
    filter: drop-shadow(2px 2px 10px black);
    top: 29%;
    left: 73%;
    transform: rotate(113deg);
}
#coffeebean5{
    position: absolute;
    width: 16%;
    filter: drop-shadow(2px 2px 10px black);
    top: 10%;
    left: 60%;
    transform: rotate(-31deg);
}
#coffeebean6{
    position: absolute;
    width: 16%;
    filter: drop-shadow(2px 2px 10px black);
    top: 7%;
    left: 6%;
    transform: rotate(-31deg);

}
/* ABOUT */
#about{
    width: 100%;
    height:120vh;/*vh is used to cover the whole scren area*/
    background-color:rgb(139, 101, 57); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.card{
    width:20%;
    height:52%;
    background-color: aliceblue;
    box-shadow: 2px 2px 10px black;
    border-radius: 20%;
    background-color: rgb(240,248,255,0.644);
    
    
}
.para{
    width: 60%;
    height: 50%;
    font-size: 2vw;
    color: rgba(39, 4, 4, 0.673);
}
/* menu */
#menu{
    width: 100%;
    height:100vh;/*vh is used to cover the whole scren area*/
    background-color:rgb(139, 101, 57); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.card1,.card2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#fanta{
    
    margin-left: 45px;
    position: absolute;
    width: 14%;
    height: 400px;
    filter: drop-shadow(2px 2px 10px black);
    z-index: 1;
    top:1825px
    /* margin-top: 20px;
    padding-right: 90px;
    width: 400px;
    height: 400px;
    filter: drop-shadow(2px 2px 10px black); */
    
} 
 #sprite{  
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    width: 15%;
    height: 420px;
    filter: drop-shadow(2px 2px 10px black);
    z-index: 1;
    top: 1800px;

}  
#bean1{
    width: 10%;
    position: absolute;
    top:2130px;
    left:100px;
    rotate:20deg;

}
#bean2{

    width: 10%;
    position: absolute;
    top:2110px;
    left:1260px;
    rotate:141deg;
    

}
/* contact */
#contact{
    width: 100%;
    height:100vh;/*vh is used to cover the whole scren area*/
    background-color:rgb(139, 101, 57); 
    display: flex;
    
    align-items: center;

}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid wheat;
    padding: 20px;
    margin-left: 80px;
    position: relative;
    background-color: rgb(202, 212, 221);
    border-radius: 20px;
    box-shadow: 8px 8px 10px black;

}
form h1{
    position: absolute;
    top:-40px;
    font-size: 60px;
    color:aliceblue;
    -webkit-text-stroke: 2px  rgba(121, 67, 5, 0.668);
    /* to put black background over each letter of contacts heading */
}
#name{
    width:300px;
    height:40px;
    padding: 5px;
    border-radius: 10px;
    border:3px solid rgb(195, 156, 113);
    color:rgb(185,138,83);

}
#mail{
    width:300px;
    height:40px;
    padding: 5px;
    border-radius: 10px;
    border:3px solid rgb(195, 156, 113);
    color:rgb(185,138,83);

}
#address{
    padding: 5px;
    border-radius: 10px;
    border:3px solid rgb(195, 156, 113);
    color:rgb(185,138,83);

}
button{
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    font-size: medium;
    font-weight: bolder;
    border:3px solid rgb(195, 156, 113);
    color:rgb(185,138,83);

}
button:hover{
    color: aliceblue;
    background-color: rgb(185,138,83);
    cursor: pointer;
    scale: 1.2;
}